<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Free movie catalogue for you" />
		<meta name="theme-color" content="#ffff" />

		<link rel="icon" href="./favicon.png" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
			rel="stylesheet"
		/>
		<link rel="manifest" href="./app.webmanifest" />
		<script src="https://use.fontawesome.com/b070c8f1df.js"></script>
		<link
			href="https://fonts.googleapis.com/css2?family=Geologica:wght@200;500;800&family=Righteous&display=swap"
			rel="stylesheet"
		/>

		<title>Resto Catalogue</title>
	</head>
	<body>
		<a href="#mainContent" id="skip-link" class="skip-link skip-link-top"
			>Menuju ke konten</a
		>
		<header class="app-bar">
			<div class="app-bar__menu">
				<button id="hamburgerButton">☰</button>
			</div>
			<nav id="navigationDrawer" class="app-bar__navigation">
				<ul>
					<li><a href="#/Home">Home</a></li>
					<li><a href="#/Favorite">Favorite</a></li>
					<li>
						<a href="https://github.com/Samuelyusa" target="_blank"
							>About Us</a
						>
					</li>
				</ul>
			</nav>
			<div class="app-bar__brand">
				<h1>Resto Catalogue</h1>
			</div>
		</header>
		<!-- <div class="hero"></div> -->
		<hero-comp src="../public/images/heros/hero-image_2.jpg"> </hero-comp>
		<main id="mainContent"></main>
		<div class="loader__container">
			<div class="loader"></div>
			<div id="loaderMessage">
				<p>Loading...</p>
			</div>
		</div>
		<footer>
			<p>
				All data obtained from
				<a
					href="https://restaurant-api.dicoding.dev/"
					target="_blank"
					rel="noreferrer"
					id="SourceAPI"
					>Dicoding Restaurant API</a
				>
			</p>
			<button aria-label="kembali ke atas" id="upArrow" class="upArrow">
				<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
			</button>
		</footer>
	</body>
</html>
